<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">期中</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li th:if="${session.loginMemberId != null}"  class="nav-item">
          <a class="nav-link" th:href="@{/stores/add}">新增商店</a>
        </li>
        <li th:if="${session.loginMemberId != null}"  class="nav-item">
          <a class="nav-link" th:href="@{/stores/list}">查看商店</a>
        </li>
        <li th:if="${session.loginMemberId == null}" class="nav-item">
          <a class="nav-link" th:href="@{/members/register}">註冊</a>        
        </li>
        <li th:if="${session.loginMemberId == null}" class="nav-item">
          <a class="nav-link" th:href="@{/members/login}">登入</a>        
        </li>
        <li th:if="${session.loginMemberId != null}" class="nav-item">
          <a class="nav-link" th:href="@{/members/logout}">登出</a>        
        </li>
      </ul>
    </div>
  </div>
</nav>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>